.email{

    width: calc(100% - 220px);

    // ========= email list ==========
    &__list{
        height: calc(100vh - 60px);
        max-width: 334px;
        min-width: 334px;
        background-color: $white;
        overflow-y: auto;

        .unread{
            font-weight: 700;
            background-color:#ecefff7a;;
        }
    }

    &__item{
        background-color: $white;
        border-bottom: 1px solid #ededed;
        border-left: 3px solid transparent;
        cursor: pointer;

        &:hover{
            background-color: rgba(142, 142, 147, 0.05);
        }
    }

    .active--email{
        border-left: 3px solid $blue;
        background-color: rgba(142, 142, 147, 0.05);
    }

   
    // &__details{
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    // }

    &__subject{
        max-width: 200px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    // ========= email reader ==========
    &__reader{
        height: calc(100vh - 60px);
        flex-grow: 1;
        overflow: auto;
    }

    &__header{
        background-color: $white;
        flex-basis: 130px;
        position: relative;

        &::after{
            content: '';
            display: block;
            margin: 0 auto;
            width: 90%;
            border-bottom: 1px solid #eceff3;
            position: absolute;
            bottom: 0;
        }
    }

    &__imgContainer{
        position: relative;
        max-width: 54px;
        // width: 54px;
        // height: 54px;
        // border-radius: 50%; 
    }

    &__picture{
        border-radius: 50%;
        width: 54px;
        height: 54px;
    }

    &__tag{
        position: absolute;
        right: 0;
        width: 12px;
        height: 12px;
    }

    &__body{
        background-color: $white;
        color: #65676e;
        flex-grow: 1;
        white-space: pre-line;
    }
}
.email__attachments{
    gap: 10px;
}

.attachment{
    // display: inline-block;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 50px;
    cursor: pointer;

    &__name{
        max-width: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: $black;
    }

    &__deletebtn{
        display: none;
        width: 20px;
        height: 20px;
        background-color: transparent;
    }

}

.email__attachments--show-delete{

    .attachment:hover{
        svg{
            display: none;
        }
        .attachment__deletebtn{
            display: inline;
        }
    }
}