.sidebar{
    background-color: $white;
    color: $steel;
    height: calc(100vh - 60px);
    width: 220px;
    overflow-y: auto;

    &__btn{
        background-color: transparent;
        color: $steel;
        width: 100%;

        &:hover{
            background-color: rgba(142, 142, 147, 0.19);
        }
    }

    .btn__icon{
        fill: $steel;
    }

    .active{
        // color: $gunmetal;
        background-color:rgba(142, 142, 147, 0.19) ;
        color: $blue;

        .btn__icon{
            fill: $blue;
        }
    }
}