.sidebar{
    background-color: $white;
    color: $steel;
    height: calc(100vh - 60px);
    width: 220px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // &__items:hover:not(:first-child){
    //     background-color: rgba(142, 142, 147, 0.19);
    //     cursor: pointer;
    // }

    &__btn{
        display: block;
        background-color: transparent;
        color: $steel;
        font-size: 14px;
        width: 100%;
        text-align: left;
        padding-left: 16px;
        padding-bottom: 4px;
        text-transform: capitalize;
        // cursor: pointer;

        &:hover{
            background-color: rgba(142, 142, 147, 0.19);
        }
    }

    .btn__icon{
        fill: $steel;
    }

    .active{
        // color: $gunmetal;
        background-color:rgba(142, 142, 147, 0.19) ;
        color: $blue;

        .btn__icon{
            fill: $blue;
        }
    }
}