.compose{
    position: absolute;
    right: 30px;
    bottom: 0;

    width: 600px;
    height: 616px;
    background-color: $white;

    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    box-shadow: 0px 0px 20px 0 grey;;

    display: none;
    flex-direction: column;
    animation: scale-up 0.3s forwards;

    &__titlebar{
        background-color: black;
        color: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px 20px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__closebtn{
        background-color: transparent;
        color: white;
        font-size: 20px;
        transition: transform 0.1s ease-in;

        &:hover{
            transform: scale(1.3);
        }
    }

    &__email{
        padding: 10px 20px;
        outline: none;
        border: none;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    }

    &__subject{
        padding: 10px 20px;
        outline: none;
        border: none;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    }

    &__message{
        padding: 10px 20px;
        outline: none;
        border: none;
        height: 100%;
        resize: none;

        // visibility: hidden;
        display: none;
        // position: absolute;
        // left: 0px;
        // top: 140px;
        // width: 100%;
        // bottom: 48px;
    }

    &__toolbar{
        background-color: white;
        padding: 10px;
    }

    &__btn{
        background-color: $blue;
        color: white;
        padding: 2px 30px;
        border-radius: 17px;

        &:hover{
            background-color: #0c29e6;
        }
    }

    &__attachbtn{
        background-color: transparent;
        border-radius: 5px;

        &:hover{
            background-color: rgba($color: $cool-gray, $alpha: 0.4);
        }
    }

    .attachbtn__icon{
       transform: rotate(317deg); 
    }
}

.shown{
    display: flex;
}

.compose--writing-mode{
    .compose__message{
        // visibility: visible;
        display: initial;
    }

    .drop-zone{
        display: none;
    }
}

@keyframes scale-up {
    0%{
        transform: scale(0);
        filter: opacity(0);
    }
    100%{
        transform: scale(1);
        filter: opacity(1);
    }
}