.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-square-caret-down-solid {
  width: 0.875em;
}

.icon-star-regular {
  width: 1.125em;
}

.icon-star-solid {
  width: 1.125em;
}

.icon-trash-can-solid {
  width: 0.875em;
}

.icon-user-regular {
  width: 0.875em;
}
